html,
body,
#window {
  font-family: "Libre Franklin", sans-serif;
  /* background-size: 12px 12px;
  background-image: radial-gradient(
    circle,
    rgb(248, 218, 191) 1px,
    rgb(251, 231, 231) 3px,
    rgb(224, 231, 226) 6px
  ); */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overscroll-behavior-y: none;
  user-select: none;
}
/* #window  */
@media screen and (max-width: 600px) {
  #window {
    zoom: 0.6;
    /* overflow: hidden; */
    /* overscroll-behavi3or-y: none; */
  }
}
#entities {
  /* transition: transform 100ms; */
}

* {
  color: #333;
  margin: 0;
  /* border: 1px red solid; */
}

img {
  position: absolute;
  z-index: 1;
  /* mix-blend-mode: difference; */
  /* mix-blend-mode: exclusion; */
  pointer-events: none;
  user-select: none;
  /* transition: transform 0.05s; */
  /* transform: translate(-50%, -50%); */
}

#walker {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
  filter: contrast(120%);
  mix-blend-mode: normal;
}
.speech {
  font-size: 50px;
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -130px);
}
.bubble {
  width: 120px;
  height: 120px;
  font-size: 50px;
  position: absolute;
  z-index: 9;
  filter: contrast(1.9);
  transform: translate(-50%, -150px);
  mix-blend-mode: normal;
}
#debug {
  position: absolute;
  right: 0;
  bottom: 0;
}
#ui {
  /* position: absolute;
  left: 0;
  bottom: 0;
  z-index: 66; */
  /* user-select: none; */
}
#add-image {
  /* font-size: 90px; */
  /* line-height: 80%; */
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 66;
  transform: rotate(5deg);
  mix-blend-mode: normal;

  pointer-events: initial;
  margin: 15px;
  width: 80px;
  height: 80px;
  /* font-weight: 100; */
  /* color: #336; */
  /* filter: drop-shadow(0px 0px 5px #444); */
}
#add-image:hover {
  filter: drop-shadow(0px 0px 5px #44f);
}
