body {
  font-family: "Libre Franklin", sans-serif;
  /* background-size: 12px 12px;
  background-image: radial-gradient(
    circle,
    rgb(248, 218, 191) 1px,
    rgb(251, 231, 231) 3px,
    rgb(224, 231, 226) 6px
  ); */
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
* {
  color: #333;
  margin: 0;
  /* border: 1px red solid; */
}

img {
  position: absolute;
  z-index: 1;
  mix-blend-mode: multiply;
  /* transform: translate(-50%, -50%); */
}

#walker {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
  filter: contrast(120%);
  mix-blend-mode: normal;
}
